<nav class="navbar navbar-inverse">
  <a href="{{ path('front_end_homepage') }}" class="navbar-brand">The Shop</a>
  <!-- Button trigger cart modal -->
  <ul class="navbar-right">
    <button type="button" class="btn btn-default" id="show-cart-button" data-toggle="modal" data-target="#myModal">
      <span class="glyphicon glyphicon-shopping-cart"></span> Cart
    </button>
  </ul>
</nav>

<!-- Cart modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body" id="cart-table-placeholder"></div>
      {% include '@FrontEnd/partial/_cart_table.html.twig' %}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
