{% extends '@FrontEnd/frontend_base.html.twig' %}

{% block body %}

    <div class="jumbotron thank-you-jumbotron">
        <p class="lead">
            Thank you for your order! Our managers will contact you as soon as possible!
        </p>
        <a class="btn btn-lg btn-success btn-raised" href="{{ path('front_end_homepage') }}">Go back shopping</a>
    </div>

{% endblock %}