{% extends '::base.html.twig' %}

{% block body %}


    <div class="row backend-login-form">
        <div class="col-md-4 col-md-offset-4">
            <form action="{{ path('login_check') }}" method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
                </div>

                <div class="form-group">
                    <label for="password">Password:</label>
                    <input class="form-control" type="password" id="password" name="_password" />
                </div>
                {#
                    If you want to control the URL the user
                    is redirected to on success (more details below)
                    <input type="hidden" name="_target_path" value="/account" />
                #}
                <button class="btn btn-default center-block" type="submit">Login</button>
                {% if error %}
                    <p class="bg-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}